<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

		<Property Id="UpgradesFile" Value="1" />

		<!--$UpgradeStart$-->
			<Upgrade Id="78838446-15ba-4318-800e-0d5a7a580005">
				<UpgradeVersion Property="OLD_VERSION_FOUND" Minimum="1.0.0" Maximum="1.99.99" IncludeMinimum="yes" IncludeMaximum="yes" OnlyDetect="no" IgnoreRemoveFailure="yes" MigrateFeatures="yes" />
			</Upgrade>
			<Upgrade Id="8d3cdc91-0491-427c-aeef-5ee80c7751ee">
				<UpgradeVersion Property="OLD_VERSION_FOUND" Minimum="1.0.0" Maximum="1.99.99" IncludeMinimum="yes" IncludeMaximum="yes" OnlyDetect="no" IgnoreRemoveFailure="yes" MigrateFeatures="yes" />
			</Upgrade>
		<!--$UpgradeEnd$-->

	</Fragment>
</Wix>
